<div class="article">
  <h2>Что такое CloudFoundry?</h2>
  <div class="clr"></div>
  <p>CloudFoundry - проект от компании VMware, это PaaS платформа <a href="https://github.com/cloudfoundry/">с открытым исходным кодом</a>.
  Сайт для координации open-source проекта, сообщества - <a href="CloudFoundry.org">CloudFoundry.org</a> 
   (<a href="http://www.cloudfoundry.com/faq">faq</a>, 
    <a href="http://twitter.com/cloudfoundry">twitter</a>,
    <a href="http://facebook.com/cloudfoundry">facebook</a>,
    <a href="http://youtube.com/cloudfoundry">youtube</a>,
    <a href="http://blog.cloudfoundry.com/">blog</a>).

  Пример работающей платформы находится на <a href="CloudFoundry.com">CloudFoundry.com</a>.
  </p>
  
  <p>
  Данный сайт является не официальным переводом на русский язык информации по PaaS платформе от VMware, и сбором русскоязычных публикаций по данной теме.
  Вопросы можно задать и обсудить в <a href="http://groups.google.com/group/vmware-paas-ru">группе</a>.
  </p>
</div>
