    <div class="footer_resize">
      <p class="lf">&copy; 2011, vmware-paas-ru, <a href="https://github.com/nemilya/vmware-paas-ru">github</a>, электропочта nemilya at gmail dot com.</p>
      <p class="rf">
        Layout by Rocket <a href="http://www.rocketwebsitetemplates.com/">Website Templates</a> | powered by <a href="http://www.sinatrarb.com/">Sinatra</a>
      </p>
      <div class="clr"></div>
    </div>
