        <div class="gadget">
          <h2 class="star"><span>Ссылки</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">

            <li><a href="http://internetno.net/2011/04/18/vmware-cloud-foundry/">VMware Cloud Foundry: куда пойдут развиваться PaaS-сервисы?</a><br />
              публикация на internetno.net</li>

            <li><a href="http://soft.cnews.ru/news/cloud/11291/">VMware представила PaaS-платформу с открытым кодом</a><br />
              публикация на soft.cnews.ru</li>
            <li></li>


            <li><a href="http://groups.google.com/group/vmware-paas-ru">vmware-paas-ru</a><br />
              русскоязычная группа посвящённая Cloud Foundry проекту</li>
            

            <li><a href="http://groups.google.com/group/ror2ru">ror2ru</a><br />
              русскоязычная группа посвящённая фреймворку RubyOnRails и языку Ruby</li>


          </ul>
        </div>
