<ul>
<!--  class="active" -->
  <li><a href="/"><span><span>Главная</span></span></a></li>
  <li><a title="русскоязычная группа" href="http://groups.google.com/group/vmware-paas-ru"><span><span>Общение</span></span></a></li>
  
  <li><a href="http://cloudfoundry.com"><span><span>CloudFoundry.com</span></span></a></li>
  <li><a href="http://cloudfoundry.org"><span><span>CloudFoundry.org</span></span></a></li>
</ul>
